<div align="center">
  <h1>Flutter Developer Talks</h1>
  <p><em>Блог и подкаст для Flutter-разработчиков</em></p>
  <p class="wrapper">
    <a href="https://t.me/fluttermiddlepodcast">
      <img src="https://img.shields.io/badge/Telegram-Читать-0088CC?style=for-the-badge&logo=telegram" alt="Telegram">
    </a>
    <a href="https://fluttermiddlepodcast.github.io/">
      <img src="https://img.shields.io/badge/Блог-Читать-blue?style=for-the-badge&logo=safari" alt="Website">
    </a>
    <a href="https://www.youtube.com/channel/UCO7JLX8GbkJtxhHEWslPPQQ">
      <img src="https://img.shields.io/badge/YouTube-Смотреть-FF0000?style=for-the-badge&logo=youtube" alt="YouTube">
    </a>
    <a href="https://podcasts.apple.com/by/podcast/flutter-middle-podcast/id1648922484">
      <img src="https://img.shields.io/badge/ApplePodcasts-Слушать-B150E2?style=for-the-badge&logo=applepodcasts" alt="Apple Podcasts">
    </a>
    <a href="https://open.spotify.com/show/1CrEfnUMAKnd2eFU0LmK5w">
      <img src="https://img.shields.io/badge/Spotify-Слушать-1DB954?style=for-the-badge&logo=spotify" alt="Spotify">
    </a>
    <a href="https://kick.com/nylon-metal">
      <img src="https://img.shields.io/badge/Kick-Смотреть-00e701?style=for-the-badge&logo=kick" alt="Kick">
    </a>
  </p>
</div>
