<div align="center">
  <h1>Flutter Developer Talks</h1>
  <p><em>Блог и подкаст для Flutter-разработчиков</em></p>
  <p class="wrapper">
    <a href="https://t.me/fluttermiddlepodcast">
      <img src="images/badges/badge-telegram.svg" alt="Telegram">
    </a>
    <a href="https://github.com/fluttermiddlepodcast">
      <img src="images/badges/badge-github.svg" alt="GitHub">
    </a>
    <a href="https://www.youtube.com/channel/UCO7JLX8GbkJtxhHEWslPPQQ">
      <img src="images/badges/badge-youtube.svg" alt="YouTube">
    </a>
    <a href="https://podcasts.apple.com/by/podcast/flutter-middle-podcast/id1648922484">
      <img src="images/badges/badge-apple-podcasts.svg" alt="Apple Podcasts">
    </a>
    <a href="https://open.spotify.com/show/1CrEfnUMAKnd2eFU0LmK5w">
      <img src="images/badges/badge-spotify.svg" alt="Spotify">
    </a>
    <a href="https://kick.com/nylon-metal">
      <img src="images/badges/badge-kick.svg" alt="Kick">
    </a>
  </p>
</div>
